.future__listing {
  &-sub-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    letter-spacing: 0%;
    text-align: center;
    color: #6a5948;
    margin: 7px 0 42px 0;
  }
  &-swiper {
    img {
      width: 100%;
      object-fit: contain;
      height: 159px;
    }
  }
}
